<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

{% if site.author.mail_obf %}
  <li>
    <a href="mailto:{{ site.author.mail_obf }}" onmouseover="this.href=this.href.replace(/q/g,'');">
      <i class="fa fa-fw fa-envelope" aria-hidden="true"></i> Email
    </a>
  </li>
{% endif %}

{% if author.inaturalist %}
<li>
  <a href="http://www.inaturalist.org/people/{{ author.inaturalist }}" itemprop="sameAs">
    <i class="fa fa-fw fa-leaf" aria-hidden="true"></i> iNaturalist
  </a>
</li>
{% endif %}

{% if author.mushroomobserver %}
  <li>
    <a href="http://www.mushroomobserver.org/people/{{ author.mushroomobserver }}" itemprop="sameAs">
      <i class="fa fa-fw fa-leaf" aria-hidden="true"></i> Mushroom Observer
    </a>
  </li>
{% endif %}
